{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Voir leurs notes perso, ajouter une fiche de faisabilité, ajouter poster, document de suivi</h1>
    </div>
{% endblock %}