{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <!--<h1>Voir leurs notes perso, ajouter une fiche de faisabilité, ajouter poster, document de suivi</h1>-->
        <a href="{{ path('student_marks') }}">Mes notes</a> <br />
        <a href="{{ path('student_document') }}">Ajouter un document</a>
    </div>
{% endblock %}