*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
    margin: 0;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-image:url(/images/background.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;

}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    background-color:white;
}

.button {
    color: #032E5A;
}