*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
    margin: 0;
    margin-right: auto;
}

h4 {
    margin-left: auto;
}

html {
    height: 100%;
}

a {
    color:black;
}

body {
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: white;
}

nav {
    background-color: #032E5A;
    color: white;
    display: block;
    align-items: center;
}

html > body > header > nav > h1 > a {
    color: white;
}