<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/images/favicon.ico" />
        <title>Secrétariat - Importer une liste depuis e-candidat</title>
        {% block stylesheets %}
            <link href="{{ asset('css/custom.css') }}" type="text/css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <header>
            <p>Faire une navigation</p>
        </header>
        <h1>Importer une liste depuis e-candidat</h1>
        <p>Bouton 'Sélectionner un fichier' et un bouton 'Charger le fichier'</p>
    </body>
</html>