{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Importer une liste depuis e-candidat</h1>
        <p>Bouton 'Sélectionner un fichier' et un bouton 'Charger le fichier'</p>
    </div>
{% endblock %}