<!DOCTYPE html>
<html> 
    <head>
        <title>L'index</title>
    </head>
    <body>
        <img src="/images/logo_UPJV.png" />
        <h1>Ce site est actuellement en construction :</h1>
        <p> C'est-à-dire qu'on a eût pas mal de projets en ce moment<br \>
        Notamment le TD8 d'ASI2, les TD2 et TD3 de Web Design (ce dernier qui a été décalé au final), l'oral d'anglais à préparer,
        heureusement que le cahier des charges pour le portefeuille et le rapport de 20 pages de théorie des organisations 
        ont été indiqué bien en avance histoire de pouvoir s'avancer.
        </p>
    </body>
</html>