<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/images/favicon.ico" />
        <title>L'index</title>
        <style>
        
        </style>
        {% block stylesheets %}
            <link href="{{ asset('css/custom.css') }}" type="text/css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <form class="formulaire" action="/authentification" method="post">
            <img class="logo_upjv" src="/images/logo_upjv.png" alt="Logo UPJV">
            <div>
                <label for="login">Identifiant :</label>
                <input type="text" id="login" name="user_login">
            </div>
            <div>
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="user_password">
            </div>
            <div class="button">
                <button type="submit">Se connecter</button>
            </div>
            <p class="blue">Mot de passe oublié ?</p>
            <p>Pour des raisons de sécurité, veuillez vous <a href="/">déconnecter</a> et fermer votre navigateur lorsque vous avez fini d'accéder aux services authentifiés.</p>
        </form>
    </body>
</html>