{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <!--<h1>Lister les étudiants suivis, déposer des documents pour chacun d'entre eux, saisie note de suivi ?</h1>-->
        <a href="{{ path('tutor_students') }}">Mes étudiants suivis</a> <br />
        <a href="{{ path('tutor_document') }}">Ajouter un document</a> <br />
        <a href="{{ path('tutor_rateStudent') }}">Affecter une note de suivi</a> <br />
        <a href="{{ path('tutor_documents') }}">Mes documents</a>
    </div>
{% endblock %}