{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Lister les étudiants suivis, déposer des documents pour chacun d'entre eux, saisie note de suivi ?</h1>
    </div>
{% endblock %}