{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <!--<h1>Importer fiche de faisabilité, lister les étudiants</h1>-->
        <!--<a href="{{ path('scolarite_students') }}">Liste des étudiants</a> <br />-->
        <a href="{{ path('scolarite_document') }}">Importer un document</a>
    </div>
{% endblock %}