{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Liste des étudiants</h1>
    </div>
    <div id="button">
        <a class="button" href="{{ path('home_scolarite') }}" >Retourner au menu principal</a>
    </div>
{% endblock %}