{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <!--<h1>Sélectionner l'étudiant à évaluer et saisir la note d'orale</h1>-->
        <a href="{{ path('external_rateStudent') }}">Évaluer un étudiant</a> <br />
    </div>
{% endblock %}