<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/images/favicon.ico" />
        <title>Responsable UE - Accueil</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link href="{{ asset('css/custom_responsable.css') }}" type="text/css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <h1>UPJV OGPP</h1>
                <p>Déconnexion</p>
            </nav>
        </header>
        <p>Liste des tuteurs universitaires<br \>
        Liste des étudiants et notes<br \>
        Paramétrer les dates de rendu et délais de relance<br \>
        Assignation des tuteurs<br \>
        Importer une fiche de faisabilité
        </p>
    </body>
</html>