<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/images/favicon.ico" />
        <title>Responsable UE - Accueil</title>
        {% block stylesheets %}
            <link href="{{ asset('css/custom.css') }}" type="text/css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <header>
            <p>Faire une navigation</p>
        </header>
        <p>Liste des tuteurs universitaires<br \>
        Liste des étudiants et notes<br \>
        Paramétrer les dates de rendu et délais de relance<br \>
        Assignation des tuteurs<br \>
        Importer une fiche de faisabilité
        </p>
    </body>
</html>