<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/images/favicon.ico" />
        <title>Responsable UE - Assigner tuteur</title>
        {% block stylesheets %}
            <link href="{{ asset('css/custom.css') }}" type="text/css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <header>
            <p>Faire une navigation</p>
        </header>
        <h1>Assignation des tuteurs</h1>
        <p>Faire un tableau à quatre colonnes ('Étudiants', 'Entreprise', 'Localité' et 'Tuteur')</p>
    </body>
</html>