{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Assignation des tuteurs</h1>
        <p>Faire un tableau à quatre colonnes ('Étudiants', 'Entreprise', 'Localité' et 'Tuteur')</p>
    </div>
{% endblock %}