{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Voir les fiches de faisabilités</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Étudiants</th>
                    <th scope="col">Fiche de faisabilité</th>
                    <th scope="col">État</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for etudiant in etudiants %}
                <tr>
                    <th scope="row"></th>
                    <td>{{ etudiant.personne.nom }} {{ etudiant.personne.prenom }}</td>
                    <td>_document_.pdf</td>
                    <td>état</td>
                    <!--<td>Icon valider et refuser</td>-->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="button">
        <a class="button" href="{{ path('home_responsable_ue') }}" >Retourner au menu principal</a>
    </div>
{% endblock %}