{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Voir les fiches de faisabilités</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Étudiants</th>
                    <th scope="col">Fiche de faisabilité</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Alexis Chirat</td>
                    <td>mon fichier</td>
                    <td>Icon valider et refuser</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Louis Savard</td>
                    <td>mon fichier</td>
                    <td>Icon valider et refuser</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Gaulthier Tomala</td>
                    <td>mon fichier</td>
                    <td>Icon valider et refuser</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Romain Vantomme</td>
                    <td>mon fichier</td>
                    <td>Icon valider et refuser</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}