{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Paramétrer les dates de rendu et délais de relance</h1>
        <p>Rendu du poster <br \>
        Rendu du rapport<br \>
        <br \>
        Relance étudiants __ jours.<br \>
        Relance tuteurs __ jours.
        </p>
    </div>
{% endblock %}