{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Paramétrer les dates de rendu et délais de relance</h1>
        <div>
            <label class="little_label">Rendu du poster</label>
            <input type="text" id="input_date" name="rendu_poster" placeholder="JJ/MM" value="14/07">
        </div>
        <div>
            <label class="little_label">Rendu du rapport</label>
            <input type="text" id="space_bot" name="rendu_rapport" placeholder="JJ/MM" value="23/08">
        </div>
        <div>
            <label class="little_label">Relance étudiants</label>
            <input type="text" id="input_number" name="relance_etudiant" placeholder="Nombre de jours" value="7">
            <label class="little_label">jours.</label>
        </div>
        <div>
            <label class="little_label">Relance tuteurs</label>
            <input type="text" id="input_number" name="relance_tuteur" placeholder="Nombre de jours" value="7">
            <label class="little_label">jours.</label>
        </div>
    </div>
    <div id="button" class="group_button">
        <a class="button2" href="{{ path('home_responsable_ue') }}" >Enregistrer les modifications</a>
        <a class="button2" href="{{ path('home_responsable_ue') }}" >Retourner au menu principal</a>
    </div>
{% endblock %}