<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/images/favicon.ico" />
        <title>Responsable UE - Paramétrage</title>
        {% block stylesheets %}
            <link href="{{ asset('css/custom.css') }}" type="text/css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <header>
            <p>Faire une navigation</p>
        </header>
        <h1>Paramétrer les dates de rendu et délais de relance</h1>
        <p>Rendu du poster <br \>
        Rendu du rapport<br \>
        <br \>
        Relance étudiants __ jours.<br \>
        Relance tuteurs __ jours.
        </p>
    </body>
</html>