{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Notes des étudiants</h1>
        <p>Faire un tableau à trois colonnes ('Étudiants', 'Note Suivi', 'Note Oral')</p>
    </div>
{% endblock %}