{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Listes des tuteurs</h1>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Enseignant</th>
                    <th scope="col">Commentaire</th>
                </tr>
            </thead>
            <tbody>
                {% for tuteur in tuteurs %}
                <tr>
                    <th scope="row"></th>
                    <td>{{ tuteur.personne.nom }} {{ tuteur.personne.prenom }}</td>
                    <td>{{ tuteur.commentaire }}</td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
    <div id="button">
        <a class="button" href="{{ path('home_responsable_ue') }}" >Retourner au menu principal</a>
    </div>
{% endblock %}