<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/images/favicon.ico" />
        <title>Responsable UE - Les tuteurs</title>
        {% block stylesheets %}
            <link href="{{ asset('css/custom.css') }}" type="text/css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <header>
            <p>Faire une navigation</p>
        </header>
        <h1>Listes des tuteurs</h1>
        <p>Faire un tableau à deux colonnes ('Enseignants' et 'Commentaire')</p>
    </body>
</html>