{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Listes des tuteurs</h1>
        <p>Faire un tableau à deux colonnes ('Enseignants' et 'Commentaire')</p>
    </div>
{% endblock %}